In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\youne\\Downloads\\archive (1)\\pima-indians-diabetes.csv')
df.head(10)

    6  148  72  35    0  33.6  0.627  50  1
0   1   85  66  29    0  26.6  0.351  31  0
1   8  183  64   0    0  23.3  0.672  32  1
2   1   89  66  23   94  28.1  0.167  21  0
3   0  137  40  35  168  43.1  2.288  33  1
4   5  116  74   0    0  25.6  0.201  30  0
5   3   78  50  32   88  31.0  0.248  26  1
6  10  115   0   0    0  35.3  0.134  29  0
7   2  197  70  45  543  30.5  0.158  53  1
8   8  125  96   0    0   0.0  0.232  54  1
9   4  110  92   0    0  37.6  0.191  30  0

In [4]:
column_names = ["Pregnancies", "Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI", "DiabetesPedigreeFunction", "Age", "Outcome"]

# Assign column names to the DataFrame
df.columns = column_names

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.isnull().sum()
#we can see ther is no missing values

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035,0.348110
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296,0.476682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
df.Outcome.value_counts()
#0 = no diabities, 1 = have diabities

Outcome
0    500
1    267
Name: count, dtype: int64


It's generally recommended to split the data into training and testing sets before applying SMOTE. The reason is that SMOTE creates synthetic samples based on the existing data, and using it before splitting may lead to information leakage from the test set into the training set

To avoid information leakage, it's crucial to strictly separate the training and testing phases of model development. Always split your data into training and testing sets before performing any data preprocessing or model training. This ensures that your model is evaluated on truly unseen data,

In [29]:
from sklearn.model_selection import train_test_split

# Assuming your dataset is in a DataFrame called 'df' and 'Outcome' is the target variable
X = df.drop('Outcome', axis=1)
y = df['Outcome']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f'X_train shape:{X_train.shape}')
print(f'y_train:{y_train.shape}')
print(f'X_test shape:{X_test.shape}')
print(f'X_train shape:{y_test.shape}')

X_train shape:(613, 8)
y_train:(613,)
X_test shape:(154, 8)
X_train shape:(154,)

In [19]:
#checkingg the ratio of the imbalce data 
# in my case 

imbalance = 267 / (500 + 267)
print(f"In this case, the ratio of the imbalanced dataset is: {imbalance:.2f}%")

In this case, the ratio of the imbalanced dataset is: 0.35%

Fixing the imbanced data

In [11]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

# Initialize SMOTE
smote = SMOTE(random_state=42)

# Apply SMOTE to the training data only
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

In [27]:
# Check the class distribution after applying SMOTE
print("Class distribution before SMOTE:", Counter(y_train))
print("Class distribution after SMOTE:", Counter(y_resampled))

Class distribution before SMOTE: Counter({0: 403, 1: 210})
Class distribution after SMOTE: Counter({1: 403, 0: 403})

 using stratify=y during data splitting is a good practice, especially when dealing with imbalanced datasets, to ensure that the model is trained and evaluated on representative samples of all classes.

In [32]:
#we can use this method by adding stratify=y huper
#X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

MinMaxScaler is suitable when you know the distribution of your data and want to scale it to a specific range (e.g., 0 to 1). It's commonly used when features have different units or ranges.

StandardScaler is suitable when your data has varying means and standard deviations. It's commonly used when features are approximately normally distributed and there are no strong outliers.

In [31]:
from sklearn.preprocessing import MinMaxScaler
# Initialize StandardScaler
scaler = MinMaxScaler()

# Fit and transform the resampled data using StandardScaler
X_resampled_scaled = scaler.fit_transform(X_resampled)

while it's common to scale the features (X) to ensure consistency and better performance of certain algorithms, scaling the target variable (y) is generally not necessary for most machine learning tasks and could even lead to misinterpretations in certain cases. Therefore, it's a common practice to apply feature scaling only to the feature matrix.

In [33]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Assuming X_train and y_train are your data
clf = DecisionTreeClassifier()
scores = cross_val_score(clf, X_train, y_train, cv=5)

print("Cross-validation scores: ", scores)
print("Average cross-validation score: ", scores.mean())

Cross-validation scores:  [0.70731707 0.75609756 0.69918699 0.7295082  0.66393443]
Average cross-validation score:  0.7112088497934159

In [44]:
from sklearn.ensemble import BaggingClassifier
# Initialize the base classifier
base_classifier = DecisionTreeClassifier()

# Initialize the Bagging Classifier with corrected parameters
bagging_clf = BaggingClassifier(
    base_estimator=base_classifier,  # Use the initialized base classifier
    n_estimators=100,                 # Number of base classifiers (Decision Trees)
    max_samples=0.8,                  # Take 80% of the data for each base classifier
    oob_score=True                    # Use out-of-bag samples to estimate accuracy
)

# Fit the Bagging Classifier to the training data
bagging_clf.fit(X_train, y_train)

C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True)

the acuuracy of our model with training dataset

In [45]:
bagging_clf.oob_score_

0.7357259380097879

In [46]:
bagging_clf.score(X_test, y_test)

0.7987012987012987

In [48]:
# Calculate cross-validation scores
cv_scores = cross_val_score(bagging_clf, X_train, y_train, cv=5)  # 5-fold cross-validation

# Print the cross-validation scores
print("Cross-Validation Scores:", cv_scores)
print("Mean Cross-Validation Score:", cv_scores.mean())

C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Cross-Validation Scores: [0.70731707 0.75609756 0.7804878  0.67213115 0.74590164]
Mean Cross-Validation Score: 0.7323870451819273

In [55]:
from sklearn.metrics import accuracy_score

# Train the Bagging Classifier on the training data
bagging_clf.fit(X_train, y_train)

# Calculate the accuracy on the test set
test_accuracy = accuracy_score(y_test, bagging_clf.predict(X_test))

# Print the test accuracy
print("Test Accuracy:", test_accuracy)

C:\Users\youne\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Test Accuracy: 0.7987012987012987